html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
  }
  .spinnerContainer{
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 80%;
}
  
#Grid > .k-grid-content > table > tbody > tr:hover
{
        background-color: #e6f8f9;
}